@import "tailwindcss";

/* Next.js 15 Static/Dynamic Indicator ko hatane ke liye */
nextjs-static-indicator {
  display: none !important;
}

/* Back-up selectors agar upar wala miss ho jaye */
[data-nextjs-static-indicator],
#nextjs-static-indicator-container {
  display: none !important;
  visibility: hidden !important;
}